.header{
    height: 57px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-color: rgb(222, 222, 222);
    border-bottom-style: solid;
    z-index: 100;
}

.left-section{
    margin-right: 70px;
    display: flex;
    align-items: center;

}
.hamburger-menu{
    height: 24px;
    margin-right: 24px;
    margin-left: 24px;
}
.youtube-logo{
    height: 20px;
    cursor: pointer;
}

.middle-section{
    flex:1;
    margin-right:35px;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-button{
    height: 40px;
    width: 66px;
    border-color: rgb(204, 204, 204);
    margin-right: 10px;
    border-width: 1px;
    border-style: solid;
    margin-left: -1;

}
.search-bar{
    height: 36px;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-style: solid;
    flex: 1;
    padding-left: 12px;
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px
    rgba(0,0,0,0.05);
    width: 0;
    font-size: 16px;
}
.search-bar::placeholder{
    font-family: Roboto ,Arial;
    font-size: 14px;
    padding-left: 2px;
}
.search-button:hover{
    transition: 0.15;
    background-color: rgb(171, 166, 166);
}
.voice-button{
    height: 40px;
    width: 40px;
    background-color: rgb(247,247,247);
    border: none;
    border-radius: 50%;

}
.search-icon{
    height: 24px;
    margin-top:4px;
}
.voice-icon{
    height:24px;
    margin-top: 4px;
    cursor: pointer;
}
.voice-button:hover{
    transition: 0.15;
    background-color: rgb(171, 165, 165);
        border-radius: 100%;
}
.right-section{
    background-color: rgb(255, 255, 255);
    width: 182px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 24px;
    flex-shrink:0;
    margin-left: 29px;

}
.upload{
    height: 24px;
    cursor: pointer;
}

.youtube-apps{
    height: 24px;
        cursor: pointer;

}

.notification{
    position: relative;
}
.notifications{
        height: 24px;
        cursor: pointer;
}

.my-channel{
    height: 42px;
    cursor: pointer;
}

.notifications-number{
    position: absolute;
    top:-1px;
    right: -6px;
    background-color: rgb(204, 0, 0);
    color: white;
    font-family: roboto,arial;
    font-size: 12px;
    padding: 1.5px 5px;
    border-radius:50% ;
    
}
