.Youtube-Exercises{
    font-family: Roboto, Arial, sans-serif;
    background-color: rgb(249, 249, 249);
    margin-top: 57px;
    margin-left: 72px;
}
body{
    margin: 0px;
    
}
.thumbnail-1{
    cursor: pointer;
    width: 100%;
    margin-bottom: 1px;
}
.video-info-grid{
    display: grid;
    grid-template-columns: 48px 1fr;

}
.video-preview{
    padding: 4px;
    vertical-align: top;
}
.Video-title{
     font-family:Roboto,Arial;
     font-weight: 500;
     margin-top: 8px; 
     font-size: 14px;
     cursor: pointer;
     line-height: 20px;
     margin-bottom: 0px;

}
.profile-picture{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-top: 8px;
}

.channel-name{
    font-size: 12px;
    font-family: roboto,Arial;
    color: rgb(96, 96, 96);
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 0px;

}
.channel-views{
    font-size: 12px;
    font-family: roboto,Arial;
    color: rgb(96, 96, 96);
    margin-top: 4px;
    cursor: text;
}
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 8px;
    row-gap: 22px;
    padding: 20px;
}
.video-thumb{
    position: relative;
}
.video-time{
    position: absolute;
    background-color: black;
    color: white;
    bottom: 11px;
    right: 4px;
    font-family: Roboto,arial;
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px; 

}
.video-link{
    color: black;
    text-decoration: none ;
}
